<div class="mt-5 ml-14 text-2xl">
  <h1 *ngIf="isAddMode">Create Idea</h1>
  <h1 *ngIf="!isAddMode">Edit Idea</h1>
</div>
<div class="mt-5 ml-20 max-w-lg">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row mt-5 mb-5">
      <div class="form-group col-5">
        <label class="label"><span class="label-text">Title</span></label>
        <input type="text" formControlName="title"
               class="form-control input input-bordered" [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
               placeholder="Idea title"
        />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label class="label"><span class="label-text">Description</span></label>
        <textarea
          rows="3" formControlName="description" class="form-control textarea textarea-bordered"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
          placeholder="Idea description here"></textarea>
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">Description is required</div>
        </div>
      </div>
    </div>
    <div
      formArrayName="evaluationSentences"
      *ngFor="let item of evaluationSentencesControl; let i = index;"
      class="mt-10 mb-5"
    >
      <!-- Show remove button when more than one sentence available -->
      <div >
        <span>Evaluation Sentence {{i + 1}}</span>
        <span *ngIf="evaluationSentencesControl.length > 1"
              (click)="removeSentence(i)">
                </span>
      </div>
      <div [formGroupName]="i" class="mt-5 mb-5">
        <div class="form-control mt-2 mb-2">
          <input class="input input-bordered" formControlName="content" placeholder="Sentence content">
        </div>
        <div class="form-control mt-2 mb-2">
          <select class="select select-bordered" formControlName="type">
            <option disabled="disabled" selected="selected">Choose type</option>
            <option *ngFor="let enum of sentenceTypeEnum | keyvalue" [ngValue]="enum.value">
              {{ enum.key }}
            </option>
          </select>
        </div>
        <div class="form-control mt-2 mb-2">
          <select class="select select-bordered" formControlName="weight">
            <option disabled="disabled" selected="selected">Choose importance</option>
            <option *ngFor="let importanceWeight of sentenceImportanceWeightList" [ngValue]="importanceWeight">
              {{ importanceWeight.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="flex items-end">
      <button class="btn btn-outline" (click)="addEvaluationSentence()">Add NEW Sentence</button>
    </div>
    <div class="form-group mt-5 mb-20">
      <a routerLink="/{{user.username}}}/ideas" class="btn btn-link">Cancel</a>
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Save
      </button>
    </div>
  </form>
</div>
