<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content">
  <div class="flex-none px-2 mr-10 ml-2">
    <a routerLink="/login">
      <span class="text-lg font-bold">
        Idea Rating Tool
      </span>
    </a>
  </div>
  <div class="flex-1 px-2 mx-10">
    <div class="items-stretch">
      <a class="btn btn-ghost btn-sm rounded-btn" routerLink="/{{user.username}}/ideas">
        Ideas
      </a>
      <button class="btn btn-sm btn-accent ml-5" routerLink="/{{user.username}}/ideas/create">New Idea</button>
    </div>
  </div>
</div>
